.navigation {
  display: flex;
  justify-content: space-between;
  background-color: WHITE;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.icon {
  margin: 8px 4px 4px 8px;
  height: 44px;
  cursor: pointer;
}
.icon:hover {
  transform: scale(0.2);
  animation: spin 3s infinite linear;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.notification {
  margin-top: 12px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.notification:hover {
  transform: scale(1.2);
}
.profile {
  padding: 7px;
  margin: auto 0;
  border: 2px solid;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 15px;
  transition: all 0.4s ease-out;
}
/* .profile:hover {
  transform: scale(1.1);
} */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.userdetails {
  display: flex;
}
.profiledp {
  width: 30px;
  height: 30px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 50%;
  border-color: #000000;
  border: 2px solid;
}
.dropdown {
  display: inline-block;

  position: relative;
}
.username {
  margin: 18px;
  margin-bottom: 5px;
  margin-top: 12px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: rgb(24, 86, 145);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-family: Helvetica;
}
.dropdownContent {
  font-family: Helvetica;
  font-weight: bolder;
  background-color: rgb(134, 194, 209);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: all 1.5s ease-out;
}
.dropdown:hover .dropdownContent {
  display: block;
}
.dropdownContent a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdownContent a:hover {
  color: #eeeaea;
  font-family: Helvetica;
  font-weight: bolder;
  background-color: #0b3d49;
}
.logout {
  cursor: pointer;
}
