.search {
  width: 60%;
  outline: none;
  border: none;
  margin: auto;
  text-indent: 18px;
  background: transparent;
}
.search::placeholder {
  text-align: center;
}
.searchbar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 12px;
  margin-top: 10px;
}

.lens {
  position: absolute;
  height: 18px;
  left: 17px;
}
.usercard {
  padding-left: -4px;
  padding-bottom: 4px;
  margin-top: 12px;
  display: flex;
  border-bottom: 1px solid rgb(132, 132, 228);
  transition: all 0.5s ease-out;
}
.usercard:hover {
  transform: scale(1.05);
  background: linear-gradient(
    90deg,
    hsla(243, 78%, 82%, 1) 100%,
    hsla(302, 82%, 76%, 1) 100%
  );
}
/* .loading {
  display: none;
} */

.image {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 6px;
}
.username {
  font-family: helvetica;
  margin: 18px 0;
  text-align: center;
}
.error {
  font-family: Helvetica;
  font-weight: bolder;
  text-align: center;
  margin-top: 12px;
  padding: 12px;
  color: rgb(27, 22, 22);
  border-bottom: 1px solid rgb(132, 132, 228);
  transition: all 0.5s ease-out;
}
.error:hover {
  transform: scale(1.05);
  background: linear-gradient(
    90deg,
    hsla(243, 78%, 82%, 1) 100%,
    hsla(302, 82%, 76%, 1) 100%
  );
}
