.outer {
  height: 100vh;
  background-image: url("../../assets/background.png");
  background-repeat: repeat;
  background-size: contain;

  /* background: linear-gradient(
      253deg,
      hsla(199, 82%, 89%, 1) 0%,
      hsla(198, 81%, 90%, 1) 0%,
      hsla(0, 0%, 99%, 1) 46%,
      hsla(198, 79%, 91%, 1) 100%
    ); */
}
