.list {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(245, 241, 241);
  padding: 5px;
  background: hsla(199, 82%, 89%, 1);

  background: linear-gradient(
    90deg,
    hsla(199, 82%, 89%, 1) 1%,
    hsla(225, 57%, 86%, 1) 100%
  );
  border-bottom-left-radius: 15px;
}
.search {
  width: 60%;
  outline: none;
  border: none;
  margin: auto;
  text-indent: 18px;
  background: transparent;
}
.search::placeholder {
  text-align: center;
}
.searchbar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 90%;
  margin-bottom: 23px;
  margin-top: 10px;
  padding: 8px 0 8px 8px;
}

.lens {
  position: absolute;
  height: 18px;
  left: 17px;
}
.chats {
  display: flex;
  flex-direction: column;
}
.userchats {
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    90deg,
    hsla(199, 82%, 89%, 1) 0%,
    hsla(225, 57%, 86%, 1) 100%
  );
  transition: all 0.5s ease-out;
}
.userchats:hover {
  transform: scale(1.05);
  background: linear-gradient(
    90deg,
    hsla(243, 78%, 82%, 1) 100%,
    hsla(302, 82%, 76%, 1) 100%
  );
}

.image {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 6px;
}
.username {
  font-family: helvetica;
  color: rgb(0, 0, 0);
  margin: 18px 0;
  text-align: center;
  font-weight: bold;
}
