.formContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .logo {
    color: #5d5b8d;
    font-weight: bold;
    font-size: 24px;
  }
  .title {
    color: #5d5b8d;
    font-size: 12px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .input {
    padding: 15px;
    border: none;
    width: 250px;
    border-bottom: 1px solid #a7bcff;
  }
  .input ::placeholder {
    color: rgb(175, 175, 175);
  }
  
  button {
    background-color: #7b96ec;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8da4f1;
    font-size: 12px;
    cursor: pointer;
  }
  
 
  p {
    color: #5d5b8d;
    font-size: 12px;
    margin-top: 10px;
  }