.messagebar {
  width: 100%;
  height: 47px;
  border-top: 1px solid rgb(120, 155, 161);
  border-bottom-right-radius: 10px;
  background-color: white;
}
.messageinput {
  width: 100%;
  border: none;
  outline: none;
  line-height: 45px;
  background: transparent;
}
.messageform {
  width: 100%;
  gap: 14px;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  border-bottom-right-radius: 15px;
}
.submit {
  background-color: green;
  font-family: helvetica;
  color: white;
  font-weight: bolder;
  width: 75px;
  border-radius: 15px;
  border: none;
  margin-top: 5px;
  margin-right: 5px;
  height: 40px;
  cursor: pointer;
}
