.message {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  flex-direction: row;
}
.messageinfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.messagetime {
  color: rgb(158, 153, 153);
}
.messagedp {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
}
.messagecontent {
  max-width: 80%;
}
.messagetext {
  background-color: white;
  padding: 10px 20px;
  margin-top: 0px;
  border-radius: 0px 10px 10px 10px;
}

.message.owner {
  display: flex;
  flex-direction: row-reverse;
}
.message.owner .messagetext {
  color: white;
  background-color: rgb(53, 106, 206);
  padding: 10px 20px;
  margin-top: 0px;
  border-radius: 0px 10px 10px 10px;
}
