.userbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  border-radius: 8px;
  transition: all 0.6s ease-out;
  background: hsla(0, 0%, 99%, 1);

  background: linear-gradient(
    253deg,
    hsla(0, 0%, 99%, 1) 0%,
    hsla(199, 82%, 89%, 1) 0%,
    hsla(198, 81%, 90%, 1) 0%
  );
  border-bottom: 0.1px solid rgb(146, 144, 144);
}
.userbar:hover {
  transform: scale(1.006);
}
/* .userdp {
  margin-top: 5px;
  height: 82%;
  width: 8%;
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
  border-radius: 50%;
  margin-left: 3px;
} */
.image {
  margin-top: 5px;
  height: 82%;
  width: 8%;
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
  border-radius: 50%;
  margin-left: 3px;
}
.username {
  margin: auto 0;
  color: rgb(27, 23, 23);
  font-family: Helvetica;
  font-weight: bold;
}
.clearChat {
  padding-top: 12px;
  padding-bottom: 6px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  width: 15%;
  border-radius: 10px;
  background-color: rgb(236, 34, 34);
  border: 1px solid rgb(236, 34, 34);
  font-family: Helvetica;
  font-weight: bolder;
  cursor: pointer;
  color: white;
}
/* .clearchat:hover {
  transform: scale(1.1);
} */
.none {
  display: none;
}
