.innercard {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  background: linear-gradient(
    90deg,
    hsla(199, 82%, 89%, 1) 0%,
    hsla(225, 57%, 86%, 1) 100%
  );
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
